.movie-details-root{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.movie-details-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}